{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Pull requests" %}{% endblock %}
<!-- Open Graph tags -->
{% block og_title %}{% trans "Pull requests" %}{% endblock og_title %}
<!-- End Open Graph tags -->
{% block header %}{% trans "Pull requests" %}{% endblock %}
{% block content %}
  
  <form method="get">
    {{ filter.form }}
      <input class="btn btn-primary" type="submit" value="{% trans 'Search' %}">
  </form>

  {% include 'components/tables/pull_requests_list.html' %}
  {% include 'components/pagination.html' %}
{% endblock content %}
